<h1><span style="color:goldenrod"><b><center>Customer churn project</center></b></span></h1>

<h2><span style="color:coral"><u><center>Importing the libraries</center></u></span></h2>

In [212]:
import numpy as np
import pandas as pd
import re

<h2><span style="color:coral"><u><center>Reading the data</center></u></span></h2>

In [213]:
df = pd.read_excel("../data/Telco_customer_churn.xlsx")

In [214]:
df.head(5)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

<h2><span style="color:coral"><u><center>Info of the data</center></u></span></h2>

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [216]:
df.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000

<h2><span style="color:coral"><u><center>Separating columns in different lists based on non-object type and object type</center></u></span></h2>

In [217]:
list_of_cols_object = [col for col in df.columns if df[col].dtype == "object"]
list_of_cols_not_object = [col for col in df.columns if df[col].dtype != "object"]
print(list_of_cols_object)
print(list_of_cols_not_object)

['CustomerID', 'Country', 'State', 'City', 'Lat Long', 'Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method', 'Total Charges', 'Churn Label', 'Churn Reason']
['Count', 'Zip Code', 'Latitude', 'Longitude', 'Tenure Months', 'Monthly Charges', 'Churn Value', 'Churn Score', 'CLTV']

<h2><span style="color:coral"><u><center>Checking for duplicated values in all columns</center></u></span></h2>

In [218]:
for col in df.columns:
    if df[col].duplicated().sum() > 0:
        print(col)

Count
Country
State
City
Zip Code
Lat Long
Latitude
Longitude
Gender
Senior Citizen
Partner
Dependents
Tenure Months
Phone Service
Multiple Lines
Internet Service
Online Security
Online Backup
Device Protection
Tech Support
Streaming TV
Streaming Movies
Contract
Paperless Billing
Payment Method
Monthly Charges
Total Charges
Churn Label
Churn Value
Churn Score
CLTV
Churn Reason

<h2><span style="color:coral"><u><center>Checking for null values in all columns</center></u></span></h2>

In [219]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        print(f"Column name = {col};  total null values = {df[col].isnull().sum()}")

Column name = Churn Reason;  total null values = 5174

<h2><span style="color:coral"><u><center>Replacing NaN with 0</center></u></span></h2>

In [220]:
# display(df["Churn Reason"].unique())
display(df.nunique())

CustomerID           7043
Count                   1
Country                 1
State                   1
City                 1129
Zip Code             1652
Lat Long             1652
Latitude             1652
Longitude            1651
Gender                  2
Senior Citizen          2
Partner                 2
Dependents              2
Tenure Months          73
Phone Service           2
Multiple Lines          3
Internet Service        3
Online Security         3
Online Backup           3
Device Protection       3
Tech Support            3
Streaming TV            3
Streaming Movies        3
Contract                3
Paperless Billing       2
Payment Method          4
Monthly Charges      1585
Total Charges        6531
Churn Label             2
Churn Value             2
Churn Score            85
CLTV                 3438
Churn Reason           20
dtype: int64

In [221]:
# df["Churn Reason"] = df["Churn Reason"].fillna(0)
df = df.fillna(0)

In [222]:
display(df["Churn Reason"].unique())

array(['Competitor made better offer', 'Moved',
       'Competitor had better devices',
       'Competitor offered higher download speeds',
       'Competitor offered more data', 'Price too high',
       'Product dissatisfaction', 'Service dissatisfaction',
       'Lack of self-service on Website', 'Network reliability',
       'Limited range of services',
       'Lack of affordable download/upload speed',
       'Long distance charges', 'Extra data charges', "Don't know",
       'Poor expertise of online support',
       'Poor expertise of phone support', 'Attitude of service provider',
       'Attitude of support person', 'Deceased', 0], dtype=object)

<h2><span style="color:coral"><u><center>Converting object type to respective data types</center></u></span></h2>

In [223]:
string_pattern = re.compile(r'^[\d\w\s,_\-]+$')
int_pattern = re.compile(r'^-?\d+$')
float_pattern = re.compile(r'^-?\d*\.\d+$')
datetime_pattern = re.compile(
        r'^\d{4}-\d{2}-\d{2}( \d{2}:\d{2}(:\d{2}(\.\d{3})?)?)?$'
    )

for i in list_of_cols_object:
    col_values = df[i].dropna().astype(str)
    if col_values.apply(lambda x: bool(string_pattern.match(x))).all():
        df[i] = df[i].astype("string")

In [224]:
for i in df.columns:
    values = df[col].dropna().astype(str).sample(min(100, len(df[col])))
    if values.apply(lambda x: bool(int_pattern.match(x))).all():
        df[i] = pd.to_numeric(df[i], downcast='integer', errors='coerce')
    elif values.apply(lambda x: bool(float_pattern.match(x))).all():
        df[i] = pd.to_numeric(df[i], downcast='float', errors='coerce')
    elif values.apply(lambda x: bool(datetime_pattern.match(x))).all():
        df[i] = pd.to_datetime(df[i], errors='coerce')

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   string
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   string
 3   State              7043 non-null   string
 4   City               7043 non-null   string
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   string
 10  Senior Citizen     7043 non-null   string
 11  Partner            7043 non-null   string
 12  Dependents         7043 non-null   string
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   string
 15  Multiple Lines     7043 non-null   string
 16  Internet Service   7043 non-null   string
 17  Online Security    7043 non-null   string
 18  Online Backup      7043 non-null   string
 19  Device Protection  7043 non-null   string
 20  Tech Support       7043 non-null   string
 21  Streaming TV       7043 non-null   string
 22  Streaming Movies   7043 non-null   string
 23  Contract           7043 non-null   string
 24  Paperless Billing  7043 non-null   string
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   string
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       7043 non-null   object
dtypes: float64(3), int64(6), object(4), string(20)
memory usage: 1.8+ MB

In [226]:
df.head(2)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved

In [227]:
df[["Payment Method", "Churn Reason"]] = df[["Payment Method", "Churn Reason"]].astype("string")

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   string
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   string
 3   State              7043 non-null   string
 4   City               7043 non-null   string
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   string
 10  Senior Citizen     7043 non-null   string
 11  Partner            7043 non-null   string
 12  Dependents         7043 non-null   string
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   string
 15  Multiple Lines     7043 non-null   string
 16  Internet Service   7043 non-null   string
 17  Online Security    7043 non-null   string
 18  Online Backup      7043 non-null   string
 19  Device Protection  7043 non-null   string
 20  Tech Support       7043 non-null   string
 21  Streaming TV       7043 non-null   string
 22  Streaming Movies   7043 non-null   string
 23  Contract           7043 non-null   string
 24  Paperless Billing  7043 non-null   string
 25  Payment Method     7043 non-null   string
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   string
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       7043 non-null   string
dtypes: float64(3), int64(6), object(2), string(22)
memory usage: 1.8+ MB

In [229]:
df = df.replace(' ', 0)

C:\Users\risha\AppData\Local\Temp\ipykernel_29724\2697046482.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(' ', 0)

<h2><span style="color:coral"><u><center>Feature Engineering</center></u></span></h2>

In [230]:
df["Churn"] = (df["Churn Reason"] == "0").astype(int)

In [231]:
x = df.drop(columns=["CustomerID", "Churn"])
y = df["Churn"]

<h3><span style="color:lightgreen"><u><center>Manual Encoding the columns with boolean values - Yes and No</center></u></span></h3>

In [232]:
# for col in x.columns:
#     unique_vals = set(x[col].dropna().unique())
#     if unique_vals == {'Yes', 'No'} or unique_vals == {'No', 'Yes'}:
#         x[col] = x[col].map({'Yes':1, 'No':0})

In [233]:
x = x.drop(columns=["Lat Long"])

In [234]:
x.nunique()

Count                   1
Country                 1
State                   1
City                 1129
Zip Code             1652
Latitude             1652
Longitude            1651
Gender                  2
Senior Citizen          2
Partner                 2
Dependents              2
Tenure Months          73
Phone Service           2
Multiple Lines          3
Internet Service        3
Online Security         3
Online Backup           3
Device Protection       3
Tech Support            3
Streaming TV            3
Streaming Movies        3
Contract                3
Paperless Billing       2
Payment Method          4
Monthly Charges      1585
Total Charges        6531
Churn Label             2
Churn Value             2
Churn Score            85
CLTV                 3438
Churn Reason           21
dtype: int64

In [235]:
x.head()

,Count,Country,State,City,Zip Code,Latitude,Longitude,Gender,Senior Citizen,Partner,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,1,United States,California,Los Angeles,90003,33.964131,-118.272783,Male,No,No,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,1,United States,California,Los Angeles,90005,34.059281,-118.307420,Female,No,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,1,United States,California,Los Angeles,90006,34.048013,-118.293953,Female,No,No,...,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372,Moved
3,1,United States,California,Los Angeles,90010,34.062125,-118.315709,Female,No,Yes,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,1,United States,California,Los Angeles,90015,34.039224,-118.266293,Male,No,No,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340,Competitor had better devices

<h3><span style="color:lightgreen"><u><center>Dropping all unnecessary features from x -> dataset of independent variables/ features</center></u></span></h3>

In [236]:
x = x.drop(columns=["Count","Country", "State", "City", "Zip Code", "Latitude", "Longitude", "Churn Label", "Churn Value", "Churn Score", "Churn Reason"])

In [237]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7043 non-null   string
 1   Senior Citizen     7043 non-null   string
 2   Partner            7043 non-null   string
 3   Dependents         7043 non-null   string
 4   Tenure Months      7043 non-null   int64
 5   Phone Service      7043 non-null   string
 6   Multiple Lines     7043 non-null   string
 7   Internet Service   7043 non-null   string
 8   Online Security    7043 non-null   string
 9   Online Backup      7043 non-null   string
 10  Device Protection  7043 non-null   string
 11  Tech Support       7043 non-null   string
 12  Streaming TV       7043 non-null   string
 13  Streaming Movies   7043 non-null   string
 14  Contract           7043 non-null   string
 15  Paperless Billing  7043 non-null   string
 16  Payment Method     7043 non-null   string
 17  Monthly Charges    7043 non-null   float64
 18  Total Charges      7043 non-null   float64
 19  CLTV               7043 non-null   int64
dtypes: float64(2), int64(2), string(16)
memory usage: 1.1 MB

In [238]:
x["Total Charges"] = x["Total Charges"].astype(float)
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7043 non-null   string
 1   Senior Citizen     7043 non-null   string
 2   Partner            7043 non-null   string
 3   Dependents         7043 non-null   string
 4   Tenure Months      7043 non-null   int64
 5   Phone Service      7043 non-null   string
 6   Multiple Lines     7043 non-null   string
 7   Internet Service   7043 non-null   string
 8   Online Security    7043 non-null   string
 9   Online Backup      7043 non-null   string
 10  Device Protection  7043 non-null   string
 11  Tech Support       7043 non-null   string
 12  Streaming TV       7043 non-null   string
 13  Streaming Movies   7043 non-null   string
 14  Contract           7043 non-null   string
 15  Paperless Billing  7043 non-null   string
 16  Payment Method     7043 non-null   string
 17  Monthly Charges    7043 non-null   float64
 18  Total Charges      7043 non-null   float64
 19  CLTV               7043 non-null   int64
dtypes: float64(2), int64(2), string(16)
memory usage: 1.1 MB

In [239]:
x.nunique()

Gender                  2
Senior Citizen          2
Partner                 2
Dependents              2
Tenure Months          73
Phone Service           2
Multiple Lines          3
Internet Service        3
Online Security         3
Online Backup           3
Device Protection       3
Tech Support            3
Streaming TV            3
Streaming Movies        3
Contract                3
Paperless Billing       2
Payment Method          4
Monthly Charges      1585
Total Charges        6531
CLTV                 3438
dtype: int64

<h3><span style="color:lightgreen"><u><center>Automated encoding and feature scaling using the scikit-learn linrary</center></u></span></h3>

In [240]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder

binary_cols = []
onehot_cols = []
numeric_cols = []
for col in x.columns:
    if x[col].nunique() == 2 and x[col].dtype == 'string':
        binary_cols.append(col)
    elif x[col].nunique() > 2 and x[col].dtype == 'string':
        onehot_cols.append(col)
    else:
        numeric_cols.append(col)
# label encoder for binary columns
le = LabelEncoder()
for col in binary_cols:
    x[col] = le.fit_transform(x[col])

# one hot encoder for non-binary string columns - onehot_cols

ohe = OneHotEncoder()
onehot = ohe.fit_transform(x[onehot_cols])
onehot_dense = onehot.toarray()

onehot_df = pd.DataFrame(onehot_dense, columns=ohe.get_feature_names_out(onehot_cols), index=x.index)

x = x.drop(columns=onehot_cols)

x = pd.concat([x, onehot_df], axis=1)

# Scaling the numeric values of the columns in x
scaler = StandardScaler()
x[numeric_cols] = scaler.fit_transform(x[numeric_cols])

In [241]:
print(onehot_cols)

['Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract', 'Payment Method']

In [242]:
print(numeric_cols)

['Tenure Months', 'Monthly Charges', 'Total Charges', 'CLTV']

In [243]:
print(binary_cols)

['Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Paperless Billing']

In [244]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42, stratify=y)

In [245]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [246]:
x_test

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Paperless Billing,Monthly Charges,Total Charges,CLTV,...,Streaming Movies_No,Streaming Movies_No internet service,Streaming Movies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,Payment Method_Bank transfer (automatic),Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check
2880,0,0,1,1,0.269929,1,1,-1.492682,-0.628657,-1.156658,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4580,1,0,1,0,-0.422317,1,1,-0.166568,-0.399440,-0.383183,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5543,0,1,1,0,-0.422317,1,0,-1.301576,-0.763659,-1.498171,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
804,0,0,0,0,-1.073843,1,0,-0.282894,-0.834116,-0.245395,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
6268,0,0,0,0,-0.625919,1,0,0.501474,-0.393705,0.992165,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5839,1,0,1,1,0.962175,0,1,-0.424147,0.266989,1.221249,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3690,1,0,0,1,-1.277445,1,1,0.189056,-0.974698,-1.432235,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3138,0,1,0,0,-1.236724,1,1,0.632756,-0.933558,-1.280921,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
455,0,0,0,0,-1.277445,1,0,-1.504315,-0.997177,0.685311,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
6272,0,0,1,0,1.002896,1,0,0.326985,0.921726,0.123168,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [247]:
from sklearn.metrics import classification_report, accuracy_score
print(classification_report(y_test, y_pred))
print("Accuracy = ", accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.54      0.59       374
           1       0.84      0.89      0.86      1035

    accuracy                           0.80      1409
   macro avg       0.74      0.72      0.73      1409
weighted avg       0.79      0.80      0.79      1409

Accuracy =  0.7963094393186657

<h2><span style="color:coral"><u><center>Using SVC for model training</center></u></span></h2>

In [248]:
from sklearn.svm import SVC
svm_model = SVC(kernel='rbf', C=1.0, gamma='scale')
svm_model.fit(x_train, y_train)
y_pred_svm = svm_model.predict(x_test)

In [249]:
print(classification_report(y_test, y_pred_svm))
print("Accuracy = ", accuracy_score(y_test, y_pred_svm))

              precision    recall  f1-score   support

           0       0.68      0.51      0.58       374
           1       0.84      0.91      0.87      1035

    accuracy                           0.81      1409
   macro avg       0.76      0.71      0.73      1409
weighted avg       0.79      0.81      0.80      1409

Accuracy =  0.8055358410220014

<h2><span style="color:coral"><u><center>Using Decision Tree for model training</center></u></span></h2>

In [250]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(x_train, y_train)
y_pred_dt = dt_model.predict(x_test)

In [251]:
print(classification_report(y_test, y_pred_dt))
print("Accuracy = ", accuracy_score(y_test, y_pred_dt))

              precision    recall  f1-score   support

           0       0.51      0.51      0.51       374
           1       0.82      0.83      0.82      1035

    accuracy                           0.74      1409
   macro avg       0.67      0.67      0.67      1409
weighted avg       0.74      0.74      0.74      1409

Accuracy =  0.7423704755145494

<h2><span style="color:coral"><u><center>Using Random Forest for model training</center></u></span></h2>

In [252]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(x_train, y_train)
y_pred_rf = rf_model.predict(x_test)

In [253]:
print(classification_report(y_test, y_pred_rf))
print("Accuracy = ", accuracy_score(y_test, y_pred_rf))

              precision    recall  f1-score   support

           0       0.63      0.51      0.56       374
           1       0.83      0.89      0.86      1035

    accuracy                           0.79      1409
   macro avg       0.73      0.70      0.71      1409
weighted avg       0.78      0.79      0.78      1409

Accuracy =  0.7892122072391767

<h2><span style="color:coral"><u><center>Using XGBoost for model training</center></u></span></h2>

In [254]:
import xgboost as xgb
xgb_model = xgb.XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)
xgb_model.fit(x_train, y_train)
y_pred_xgb = xgb_model.predict(x_test)

In [255]:
print(classification_report(y_test, y_pred_xgb))
print("Accuracy = ", accuracy_score(y_test, y_pred_xgb))

              precision    recall  f1-score   support

           0       0.58      0.49      0.53       374
           1       0.83      0.87      0.85      1035

    accuracy                           0.77      1409
   macro avg       0.70      0.68      0.69      1409
weighted avg       0.76      0.77      0.76      1409

Accuracy =  0.7714691270404542